:root {
    --primary-color: #1A535C;
    --secondary-color: #4ECDC4;
    --third-color: #FFE66D;
    --light: white;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
    --font-size: 16px;
    --font-family: roboto;
    --font-family-title: 'Lemon', cursive;
    --font-family-footer: 'Quicksand', sans-serif;
}

footer {
    /* flex: 1 0 auto; */
    border-top: 1px dashed #000;
    width: 100%;
    height: 100%;
    background: #4ECDC4;
    color: #333;



}

footer h3 {
    text-align: center;
    font-size: 5%;
}

.footer-content {
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    color: var(--light);
    font-size: var(--font-size);
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-bloc {
    font-size: 70%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 80px;
    margin: 0 30px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.footer-contact p {
    text-align: center;
    font-size: 130%;
}

.footer-schedules li {
    padding: 2px 0;
    text-align: center;
    font-size: 120%;
}

.footer-icons li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icons a {
    font-size: 3.5rem;
    color: antiquewhite;
    text-decoration: none;
    margin-block: 1%;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.footer-icons a:hover {
    color: rgb(0, 0, 0);
}

.footer-icons a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #4ECDC4;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}


.footer-contact,
.footer-schedules,
.footer-icons {
    list-style: none;
}

.footer-contact h3,
.footer-partners h3,
.footer-schedules h3,
.footer-icons h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-icons {
    text-decoration: none;
}

.footer-contact p {
    padding: 5px 0;
}

@media screen and (max-width: 720px) {

    footer {
        min-height: 114%;
    }

    .footer-bloc {
        width: 100%;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 5%;
    }

    .footer-icons h3 {
        width: 100%;
    }
}

@media screen and (max-width:767px) {

    footer {
        margin-top: 60%;
    }
}