:root {
    --primary-color: #1A535C;
    --secondary-color: #4ECDC4;
    --third-color: #FFE66D;
    --light: white;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
    --font-size: 18px;
    --font-family: roboto;
    --font-family-title: 'Lemon', cursive;
}

body {
    background-color: aqua;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: url("https://media.istockphoto.com/photos/notredamedebonport-church-seen-from-island-of-nantes-picture-id590269430?k=20&m=590269430&s=612x612&w=0&h=d3v16CrrhspkAWTnKsEmEsIlcUzA_fbHSeQLulQxChw=");
    backdrop-filter: brightness(60%);
    background-repeat: no-repeat; */
    background-size: cover;
    box-sizing: content-box;
}



#where {
    /* background-color: #1C6EA4; */
    display: flex;
    justify-content: center;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
}

#googleMap {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#borderMap {
    border: 2px solid black;
    width: 85%;
}

#map {
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    /* background-color: blue; */
    width: 75%;
    justify-content: center;
    margin: 16px auto auto auto;
}

.formulaire {
    /* background-color: darkkhaki; */
    padding: 2px;
    margin: auto auto 10px auto;
    width: 100%;
    background-color: #DDDDDD;
    border: 0px solid #1C6EA4;
    -webkit-border-radius: 6px 0px 6px 0px;
    -moz-border-radius: 6px 0px 6px 0px;
    border-radius: 6px 0px 6px 0px;
    -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.49);
}

label {
    color: white;
    font-weight: 600;
}

#msg {
    height: 60px;
}

.button {
    display: flex;
    justify-content: flex-start;
    margin: 10px auto auto auto;
}

form>div>div>button {
    font-weight: bold;
    background-color: black;
    color: white;
    height: 32px;
    width: 90px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #1C6EA4;
}

@media screen and (min-width : 768px) {


    #borderMap {
        height: 70%;
    }

    #googleMap {
        height: 100%;
    }

    form {
        width: 40%;
    }

    #map {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: auto;
        height: 35em;
    }

    #container {
        margin: 80px auto auto 100px;
    }

    .formulaire {
        margin: auto auto 25px auto;
        width: 80%;
    }

    #name,
    #firstname,
    #mail,
    #phone {
        height: 30px;
        margin: 5px auto 18px auto;
    }
}