:root {
    --primary-color: #1A535C;
    --secondary-color: #4ECDC4;
    --third-color: #FFE66D;
    --light: white;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
    --font-size: 18px;
    --font-family: 'Dosis', sans-serif;
    --font-family-title: 'Lemon', cursive;
}

body {
    /* background-color: aqua; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/3775566/pexels-photo-3775566.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(80%);
}

#forward {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 52rem;
    margin-bottom: -20%;
}

#where {
    /* background-color: #1C6EA4; */
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0px 20px 0px;
    text-shadow: 0px 0px 20px #000000;
}

iframe {
    border-radius: 20px;
}

#map {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#googleMap {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#borderMap {
    border: 4px solid black;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
    width: 85%;
    margin: 0px 0px 40px 0px;
    border-radius: 20px;
}

form {
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    /* background-color: blue; */
    width: 70%;
    justify-content: center;
    margin-right: 100px;
}

.formulaire {
    position: relative;
    padding: 2px;
    margin: auto auto 10px auto;
    width: 100%;
    background-color: #EEEEEE;
    border: 0px solid #1C6EA4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 10px 10px 30px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 5px 16px 0px #0B325E, 10px 10px 30px 5px rgba(0, 0, 0, 0.8);
}

label {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #000000;
    font-style: italic;
    margin-left: 10px;
}

#name,
#mail,
#phone {
    width: 90%;
    height: 40px;
    margin: 10px auto 30px 10px;
    padding-left: 90px;
    font-style: oblique;
    font-size: 24px;
    font-family: var(--font-family);
}

#msg {
    height: 100px;
    margin: 10px auto 30px 10px;
    width: 115%;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 28px;
    font-family: var(--font-family);
}

.button {
    display: flex;
    justify-content: flex-start;
    margin: 0px auto 20px 10px;
}

form>div>div>button {
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 24px;
    height: 60px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    border: 3px solid white;
}


.input-icons span {
    position: absolute;
    z-index: 1;
    margin: 12px auto auto 12px;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

#sendSpan {
    color: white;
    position: absolute;
    z-index: 1;
    padding-left: 150px;
    padding-top: 18px;
}

.send {
    position: relative;
    z-index: 1;
}

.icon {
    min-width: 40px;
}

.input-icons span {
    margin: 18px auto auto 14px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.endbox {
    margin-bottom: 500px;
    width: 100%;
}

@media screen and (min-width : 768px) {

    #forward {
        flex-direction: row-reverse;
        margin-bottom: -25%;
    }

    #where {
        font-size: 50px;
        margin: 20px auto 30px auto;
    }

    #borderMap {
        height: 90rem;
        width: 80%;
        margin: 0px 80px 40px 100px;
    }

    #googleMap {
        height: 100%;
    }

    #map {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: auto;
        height: 48em;
    }

    #container {
        margin: 110px auto auto 90px;
        width: 100%;
    }

    form {
        width: 40%;
    }

    label {
        font-size: 32px;
    }

    .formulaire {
        margin: auto auto 0px auto;
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    #name,
    #mail,
    #phone {
        width: 62%;
        height: 50px;
        margin: 5px auto 30px auto;
        padding-left: 70px;
        transition: all 200ms ease-in;
        
    }

    #name:hover,
    #mail:hover,
    #phone:hover {
        transition: all 300ms ease-in;
        transform: scale(1.1);
    }

    #msg {
        /* background-color: darkkhaki; */
        height: 150px;
        width: 72%;
        margin-bottom: 60px;
        margin-left: -1px;
    }
    
    #msg:hover {
        transition: all 300ms ease-in;
        transform: scale(1.1);
    }
    
    form>div>div>button {
        transition: all 200ms ease-in;
        font-size: 28px;
    }

    .send:hover {
        transition: all 200ms ease-in;
        transform: scale(1.2);
    }

    footer {
        margin: 0px auto auto auto;
    }
}