/* HEADER SECTION */

header {
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #4ECDC4;
    width: 100%;
    height: 72px;
}

.header h1 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-family: 'Lemon', cursive;
    text-shadow: 0px 7px 14px rgb(0, 0, 0);
}

.header h1 :hover {
    transform: none;
}

.header h1 a {
    text-decoration: none;
    color: #F7FFF7;
    transition: all 200ms ease-in-out;
}


/* BURGER MENU */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.nav-menu-screen {
    display: none;
}

/* ANIMATION PART OF THE BURGER MENU */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* SECTION THAT PLACE THE DYNAMIC MENU OF THE NAV-BAR */

.nav-menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Lemon';
    transition: 0.3s;
    transition-duration: 1s;
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.50);
    gap: 8px;
    margin: 0;
    padding-right: 10px;
}

.affiche {
    transform: translateX(0);
    opacity: 1;
    margin: 0;
}

/* NAV - LIST SECTION */

nav {
    align-items: center;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    color: #F7FFF7;
    text-decoration: none;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

/* WHITE SHAPES UNDER THE NAV-BAR */

.white-shapes {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

#rectangle-shape {
    background-color: rgb(255, 255, 255);
    height: 32px;
    width: 100%;
}

#triangle-shape {
    background-color: rgb(255, 255, 255);
    height: 32px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

@media screen and (min-width: 768px) {
    .header h1 :hover {
        transform: scale(1.1);
    }

    nav {
        display: none;
    }

    .nav-menu-screen {
        display: flex;
        gap: 32px;
        padding-right: 1rem;
        align-items: center;
    }

    .nav-menu-screen li {
        list-style: none;
    }

    .nav-menu-screen li a {
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Lemon';
        color: #F7FFF7;
        text-shadow: 1px 0px 8px rgba(0, 0, 0, 0.6);
    }

    .nav-link:hover {
        text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.95);
        font-size: 22px;
    }

    .menu-btn {
        display: none;
    }

    .nav-menu {
        padding: 50px;
        flex-direction: row;
        background-color: #4ECDC4;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        gap: 2rem;
        padding-right: 1rem;
    }

    .nav-menu li a {
        font-size: 1.2rem;
        font-family: 'Lemon', cursive;
    }

    .white-shapes {
        position: absolute;
        top: 72px;
    }
}