:root {
    --primary-color: #1A535C;
    --secondary-color: #4ECDC4;
    --third-color: #FFE66D;
    --light: white;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
    --font-size: 18px;
    --font-family: roboto;
    --font-family-title: 'Lemon', cursive;
}

* {
    margin: 0;
    padding: 0;
}

/* MORCEAU TEMPORAIRE POUR AJOUTER LA FORME */

body {
    background-color: #FF6B6B;
}

/* HEADER SECTION */

header {
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding-block: 1rem;
    width: 100%;
}

.header h1 {
    display: flex;
    margin-left: 1rem;
    font-family: var(--font-family-title);
    color: #F7FFF7;
    text-shadow: 0px 10px 10px rgba(255, 107, 107, 0.5);
}

/* THIS PART CONCERN WHAT HAPPEN WHEN WE CLICK ON BUTTON, FOR SCREENS UNDER 768px */


/* BURGER MENU */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION PART */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* SECTION THAT PLACE THE MENU OF THE NAV-BAR */

.nav-menu {
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    transition-duration: 1s;
    transform: translateX(-50%);
    opacity: 0;
}

.affiche {
    font-family: var(--font-family-title);
    -webkit-text-stroke: 1px var(--primary-color);
    transform: translateX(0);
    opacity: 1;
    z-index: 6;
}

/* NAV - LIST SECTION */

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    text-align: center;
    width: 70%;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    color: #F7FFF7;
    text-decoration: none;
}

.nav-menu {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    gap: 8px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #FF6B6B;
}

/* GEOMETRIC SHAPE UNDER THE NAV-BAR */

#rectangle-shape {
    position: absolute;
    background-color: white;
    height: 32px;
    width: 100%;
}


@media screen and (min-width: 768px) {
    header {
        background-color: var(--secondary-color);
        display: flex;
    }

    .menu-btn {
        display: none;
    }

    nav {
        width: 80%;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--secondary-color);
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        gap: 2rem;
        padding-right: 1rem;
    }


    .nav-menu li a {
        font-size: 1.4rem;
        font-family: var(--font-family-title);
    }
}