:root {
    --primary-color: #1A535C;
    --secondary-color: #4ECDC4;
    --third-color: #FFE66D;
    --light: white;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
    --font-size: 18px;
    --font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color: var(--primary-color);
}

#logosParagraphe {
    display: flex;
}

div ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 20px;
}

div p {
    margin: 0%;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 10px;
    font-size: var(--font-size);
    color: var(--light);
    /* font-family: roboto; */
    font-family: var(--font-family);
}

div ul li img {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 15px var(--shadow-color);
    border: 1px solid var(--border-color);
    transition: transform .2s;
}

/* Background image */
#imageBackground {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: url("https://images-ext-1.discordapp.net/external/vVES6_D3twvN9T4eT1jrnLTKo0V7iCOnbVbxjywfpCY/https/cdn.pixabay.com/photo/2015/07/02/10/23/training-828741__480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 20%;
}

footer {

    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 10;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER SECTION */

header {
    width: 100%;
}

.header {
    display: flex;
    background-color: #4ECDC4;
    padding-block: 16px;
}

.header h1 {
    display: flex;
    margin-left: 24px;
    font-family: 'Lemon', cursive;
    color: #F7FFF7;
    text-shadow: 0px 10px 10px rgba(255, 107, 107, 0.5);
}

/* LIST SECTION */

nav {
    min-height: 70px;
    display: flex;
    align-items: center;
}

.nav-menu {
    flex-direction: inline;
    text-align: center;
    width: 70%;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    color: #F7FFF7;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #FF6B6B;
}


/* THIS PART CONCERN WHAT HAPPEN WHEN WE CLICK ON BUTTON, FOR SCREENS UNDER 768px */

@media (max-width: 768px) {

    header {
        position: sticky;
        left: 0;
        top: 0;
    }

    .header {
        justify-content: space-between;
    }

    /* BURGER MENU */

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    /* ANIMATION PART */

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* SECTION THAT PLACE THE MENU OF THE NAV-BAR */

    .nav-menu {
        flex-direction: column;
        width: 100%;
        gap: 4px;
        background-color: #262626;
        text-align: center;
        transition: 0.3s;
        transition-duration: 1s;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
    }

    .affiche {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}