* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER SECTION */

body {
    background-color: #FF6B6B;
}

header {
    width: 100%;
    position: sticky;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #4ECDC4;
    padding-block: 1rem;
    width: 100%;
}

.header h1 {
    display: flex;
    margin-left: 1rem;
    font-family: 'Lemon', cursive;
    color: #F7FFF7;
    text-shadow: 0px 10px 10px rgba(255, 107, 107, 0.5);
}

/* THIS PART CONCERN WHAT HAPPEN WHEN WE CLICK ON BUTTON, FOR SCREENS UNDER 768px */


/* BURGER MENU */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION PART */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* SECTION THAT PLACE THE MENU OF THE NAV-BAR */

.nav-menu {
    flex-direction: column;
    background-color: #262626;
    text-align: center;
    transition: 0.3s;
    transition-duration: 1s;
    transform: translateX(-50%);
    opacity: 0;
}

.affiche {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* NAV - LIST SECTION */

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    text-align: center;
    width: 70%;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    color: #F7FFF7;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #FF6B6B;
}

/* GEOMETRIC FRAME UNDER THE NAV-BAR */

#geometric-frame {
    width: 100%;
    height: 100px;
    background: #F7FFF7;
    border-radius: 100% 0% 100% 0% / 0% 22% 78% 100%;
}


@media screen and (min-width: 768px) {
    header {
        background-color: #4ECDC4;
        display: flex;
    }

    .menu-btn {
        display: none;
    }

    nav {
        width: 80%;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: flex-end;
        background-color: #4ECDC4;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        gap: 2rem;
        padding-right: 1rem;
    }


    .nav-menu li a {
        font-size: 1.4rem;
        font-family: 'Lemon', cursive;
    }
}